<div class="hardSkills">
    <h1 class="titulo">Habilidades</h1>
    <h3 class="subtitulo">Hard Skillis</h3>
    <div class="col-lg-2">
        <button type="button" class="btn btn-success btnNuevaS" routerLink="/nuevahs" *ngIf="isLogged">
            Nueva Hard Skills
        </button>
    </div>
    <div class="container-fluid">
        <div class="row" *ngFor="let HardSkills of hardSkills">

            <div class="col col-sm-2 col-md-4 text-center">
                <h3>{{HardSkills.nombreHS}}</h3>
            </div>


            <div class="progress d-flex align-items-center col-12 col-sm-12 col-md col-lg col-xl col-xxl">

                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-label="Animated striped example" [style.width]="HardSkills?.porcentajeHS + '%'"
                    aria-valuemin="0" aria-valuemax="100">
                    {{ HardSkills?.porcentajeHS }}
                </div>

            </div>


            <div class="col col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2 botonesEditarEliminar">
                <button class="btn btn-warning" routerLink="/editarhs/{{HardSkills.id}}">
                    <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-danger" (click)="delete(HardSkills.id)">
                    <i class="bi bi-trash3"></i>
                </button>
            </div>

        </div>
    </div>
</div>