.hardSkills{
    padding: 1rem;
}

.titulo{
    padding-bottom: 3rem;
}

.subtitulo{
    margin-left: 3rem;
}

.btnNuevaS{
    margin-left: 3rem;
}

.item{
    padding: 2rem 2rem 0;
}

.row{
    padding: 1rem;
}

.botonesEditarEliminar{
    display: flex;
    justify-content: center;
}

@media (min-width: 1025px) {
    .hardSkills{
        padding: 6rem 6rem 0;
    } 
}