<section class="container-fluid proyecto">
    <h1 class="titulo">Proyectos</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-success">
            Nuevo Proyecto
        </button>
    </div>
    
    <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 mt-2 d-flex justify-content-center">
        <div>
            <div class="col contenedor0">
                <div class="contenedor">
                    <div class="tarjeta">
                        <div class="image">
                            <img src="../../../assets/experiencia.jpg" />
                        </div>
                        <div class="text-center flecha text-dark">
                            <i class="bi bi-caret-down" style="font-size: 32px"></i>
                        </div>
                        <div class="divTexto">
                            <h4>Clinica</h4>
                            <p>se hara de todo</p>

                            <a href="enlace" target="_blank">
                                <button class="mt-2 fw-bold button-primary" type="submit">
                                    Ir
                                </button>
                            </a>
                            <div class="text-center mt-1">
                                <button type="button" class="btn btn-warning mx-1 text-light p-1">
                                    <i class="bi bi bi-pencil"></i>Editar
                                </button>
                                <button type="button" class="btn btn-danger mx-1 text-light p-1">
                                    <i class="bi bi-trash3"></i>Borrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
