<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="formulario">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="row">
                    <div class="form-group col">
                        <label for="nombreSS">
                            <h3>Nombre</h3>
                        </label>
                        <input type="text" class="form-control" id="nombreSS" name="nombreSS"
                            placeholder="Nombre de la habilidad" [(ngModel)]="soft.nombreSS" required>
                    </div>
                    
                    <div class="form-group col">
                        <label for="porcentaje">
                            <h3>Porcentaje</h3>
                        </label>
                        <input type="number" class="form-control" id="porcentaje" name="porcentaje" placeholder="Porcentaje" min="10" max="100" [(ngModel)]="soft.porcentajeSS"
                            required>
                    </div>
                </div>
                
                <div class="botonera">
                    <button type="submit" class="btn btn-warning">
                        Actualizar
                    </button>
                    <button type="button" class="btn btn-danger" routerLink="">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>