<section class="login vh-100 d-flex align-items-center">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col col-md-6 blur">
        <h1 class="d-flex justify-content-center">Iniciar Sesión</h1>
        <div class="d-flex align-items-center justify-content-center">
          <form #f="ngForm" (ngSubmit)="onLogin()" novalidate style="width: 23rem;">

            <div class="formulario">
              <div class="campo">
                <input type="user" id="nombreUsuario" name="nombreUsuario" class="imput" placeholder=""
                  [(ngModel)]="nombreUsuario" name="nombreUsuario" required />
                <label class="label" for="nombreUsuario">Usuario</label>
              </div>

              <div class="campo">
                <input type="password" id="password" name="password" class="imput" placeholder="" [(ngModel)]="password"
                  name="password" required />
                <label class="label" for="password">Contraseña</label>
              </div>
            </div>

            <p *ngIf="isLogginFail" class="text-center text-danger mt-3 fw-bold">
              {{ errMsj }}
            </p>

            <div class="botonera row py-5">
              <button class="col btn btn-warning" type="submit">Iniciar Sesión</button>
              <button class="col btn btn-danger" type="button" routerLink="">Cancelar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>