<div class="container acercaDeMi">
    <div class="row" *ngFor="let persona of Persona">
        <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 col-xxl tarjeta d-flex justify-content-center">
            <img src="{{persona.imagen}}" alt="Foto de Perfil img-fluid"
                class="fotoPerfil">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-4 col-xxl nombreYtitulo">
            <h1 class="d-flex justify-content-center">{{persona.nombre}} {{persona.apellido}}</h1>
            <h5 class="d-flex justify-content-center">{{persona.titulo}}</h5>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-6 col-xxl descripcion">
            <h3>Acerca de mi</h3>
            <p>
                {{persona.descripcion}}
            </p>
            <button type="button" class="btn btn-success" routerLink="editar/{{persona.id}}" *ngIf="isLogged">Modificar</button>
        </div>
    </div>
</div>