.acercaDeMi{
    padding: 2rem 2rem 0;
}

.tarjeta{
    display: flex;
    align-items: center;
}

.fotoPerfil{
    width: 15rem;
    margin: 1rem;
}

.nombreYtitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descripcion{
    padding: 2rem 1rem;
}

p{
    text-align: justify;
}

@media (max-width: 425px) {
    .tarjeta{
        flex-direction: column;
    }   
}

@media (max-width: 425px) {
    .acercaDeMi{
        padding: 1rem;
    }
}