<div class="container-fluid">
    <div class="row">
        <div class="col tarjeta">
            <div class="d-flex justify-content-center">
                <img src="https://cdn-icons-png.flaticon.com/512/2335/2335114.png" class="fluid fotoPerfil"
                    alt="Foto de Perfil">
            </div>
            <div class="">
                <h1 class="d-flex justify-content-center">Cecilia</h1>
                <h1 class="d-flex justify-content-center">Janco Elias</h1>
                <h5 class="d-flex justify-content-center">Developer Full Stack Jr</h5>
            </div>
        </div>

        <div class="col acercaDeMi">
            <h3>Acerca de mi</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi autem minus, doloribus amet sequi debitis
                repellendus dolorum et animi blanditiis exercitationem obcaecati voluptates tenetur veniam id
                repudiandae
                suscipit quia tempore?</p>
        </div>
    </div>
</div>