.acercaDeMi{
    padding: 4rem 4rem 0;
}

.fotoPerfil{
    width: 15rem;
    margin: 1rem;
}

.tarjeta{
    display: flex;
    align-items: center;
}

.acercaDeMi-descripcion{
    margin: 2rem;
    text-align: justify
}

@media (max-width: 425px) {
    .tarjeta{
        flex-direction: column;
    }   
}